.vs
.idea
Library/*
Logs
Temp
obj
bin
Builds
Design
ScriptDrafts
DMK_Saves
DMK_Logs
Source
.psd
Assets/Danmokou/Sprites/.py/SpriteUtils/img

*.csproj
*.unityproj
*.sln
*.tmp
*.user
*.userprefs
*.pdb

CodeCoverage
MemoryCaptures
Assets/ReferenceOnly

docs/_site
docs/api
docs/images

# these are compiled from the FS project
# Assets/Plugins/Self/Core/FS/*.dll

Assets/PCG