[submodule "Assets/SiMP"]
	path = Assets/SiMP
	url = https://github.com/Bagoum/danmokou-simp.git
[submodule "Assets/BRuH"]
	path = Assets/BRuH
	url = https://github.com/Bagoum/danmokou-bruh.git
[submodule "Assets/LuA"]
	path = Assets/LuA
	url = https://github.com/Bagoum/danmokou-lua.git
[submodule "Assets/PCG"]
	path = Assets/PCG
	url = https://github.com/Bagoum/danmokou-pcg
[submodule "Assets/SZYU"]
	path = Assets/SZYU
	url = https://github.com/Bagoum/suzunoya-unity.git
