.vs
.idea
Library/*
UserSettings/*
Logs
Temp
obj
bin
Builds
DMK_Saves
DMK_Logs
Secrets
.psd
Assets/raw
Assets/Danmokou/Sprites/.py/SpriteUtils/img
Assets/Danmokou/MiniProjects/Plugins/Danmokou/Generated
Assets/Danmokou/Plugins/Danmokou/Danmaku/Expressions/Generated

*.csproj
*.sln
*.unityproj
*.tmp
*.user
*.userprefs

CodeCoverage
MemoryCaptures

docs/_site
docs/api
docs/images

Assets/PCG
Assets/PlumWine