.vs
.idea
Library/*
UserSettings/*
Logs
Temp
obj
bin
Builds
DMK_Saves
DMK_Logs
Secrets
.psd
Assets/DoNotUpload
Assets/Danmokou/Sprites/.py/SpriteUtils/img
Assets/Danmokou/Plugins/Danmokou/Danmaku/Expressions/Generated
Assets/Danmokou/Plugins/Danmokou/Danmaku/AoTHelper_CG.cs

*.unityproj
*.tmp
*.user
*.userprefs
*.pdb

CodeCoverage
MemoryCaptures

docs/_site
docs/api
docs/images

Assets/PCG