#UIContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-top: 90px;
    padding-bottom: 60px;
}
